@import "tailwindcss";

@theme {
  --color-honey-50: #fffbeb;
  --color-honey-100: #fef3c7;
  --color-honey-200: #fde68a;
  --color-honey-300: #fcd34d;
  --color-honey-400: #fbbf24;
  --color-honey-500: #f59e0b;
  --color-honey-600: #d97706;
  --color-honey-700: #b45309;
  --color-honey-800: #92400e;
  --color-honey-900: #78350f;
}